body.fondo-no-encontrado {
    background-image: url(/img/fondo-pantalla-error-falla-problema-video-vhs-ruido-pixeles_8071-4987.avif); /* Reemplaza 'ruta_de_la_imagen' con la ruta correcta de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

center {
    margin-top: 20px;
}

h2 {
    color: #333;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
    color: #333;
}

input {
    padding: 8px;
    width: 200px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}