table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

center {
    text-align: center;
}

input {
    padding: 8px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
