body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

h1, h2 {
    color: #1a1a1a;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #555;
}

select {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}