body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

#tablaUsuarios {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
